@charset "utf-8";

/*------------------------------------------------------------------
  [Table of contents]
  * To keep an overview of structure of your code, we make use of table of
  * content. Table of content is use display the overall tree structure of your
  * Layout.
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following table of content and add your own as this is just and
  * example to let you know)

  1. CSS Reset Code
    1.1. Eric Meyers Reset/HTML5 display-role reset for older browsers
    1.2. Font class declaration
  2. HTML5 Boilerplate Code
  3. Helper Classes
  4. PRDXN's custom styles
    4.1. Body
    4.2. Header
    4.3. Main
    4.4. Footer
  5. Media Queries
  6. Print Styles
  ------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Color codes]
  * Mention the color code you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following color code and add your own as this is just and
  * example to let you know)

  Header nav: #e5e5df (Cararra)
  Header nav a (hover): #fff (white)
  Header nav a (active): #fff (white)
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Typography]
  * Mention the Typography you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following typography and add your own as this is just and
  * example to let you know)

  Header nav a: 16px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  View-register li a : 12px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -------------------------------------------------------------------*/

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. http://meyerweb.com/eric/tools/css/reset/
   v2.0b1 | 201101
   NOTE: WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON
   ========================================================================== */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address, big, cite, code,
del, dfn, img, ins, kbd, q,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  padding: 0;
  border: 0;
  margin: 0;
  font-size: 100%;
  font: inherit;
  outline: 0;
  vertical-align: baseline;
}

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before,
blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

/* remember to define visible focus styles!
:focus {
    outline: ?????;
} */

/* 1.2. Font class declaration
   ========================================================================== */
/*
 * Mention the font property (eg: font-family, font-size, font-weight, font-style
 * etc) that have been commonly used in the html document. Make a class of it and
 * apply to the element wherever it is needed. If any single property in changed,
 * then override only that property in the particular class which is used for the
 * element.
 * (NOTE: Remove this commented code once you start
 * developing the code. Remove the following font class and add your own
 * as this is just and example to let you know. If there is only one font family
 * followed throughout the site, then menstion the font property in body. No need
 * of creating an extra class for it) */

/* This is just an example. You have to replace it with the font class you will be using for the project. */
.futura-bold-font {
  font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
}

/* ==========================================================================
   2. HTML5 Boilerplate Code
   ========================================================================== */
/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea { color: #222; }

html {
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

audio,
canvas,
img,
video { vertical-align: middle; }

textarea { resize: vertical; }

.browsehappy {
	padding: 0.2em 0;
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
}

/* ==========================================================================
   3. Helper classes
   ========================================================================== */

/* For image replacement. */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

.ir:before {
  content: "";
  width: 0;
  height: 150%;
  display: block;
}

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden {
  display: none;
  visibility: hidden;
}

/* Hide visually and from screenreaders, but maintain layout. */
.invisible { visibility: hidden; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/* Contain floats: h5bp.com/q */
.clearfix:after { clear: both; }

.clearfix { *zoom: 1; }


/* ==========================================================================
   4. PRDXN's custom styles
   ========================================================================== */
/*
    Author: PRDXN;
    Company Website: http://www.prdxn.com;
*/

/* 4.1. Body
   ========================================================================== */
body { font-family: 'Arial'; }

.wrapper {
  width: 1220px;
  margin: 0 auto;
}

ul li { display: inline-block; }

a { 
  color: #fff;
  text-decoration: none; 
}

/* 4.2. Header
   ========================================================================== */
header { 
  background-color:  #a8ad00;
  box-shadow: 0px 5px 7.6px 0.4px rgba(207, 207, 207, 0.75);
  font-size: 18px;
}

h1 {
  width: 213px;
  height: 78px;
  margin: 18px 37px 18px 0;
  display: inline-block;
  vertical-align: middle;
  background: url(../images/logo.png) no-repeat;
  text-indent: -9999px;
}

h1 a {
  height: 78px;
  display: block;
}

nav {
  width: 465px;
  display: inline-block;
  position: relative;
}

nav ul li { padding: 18px 13px; }

nav ul li:hover { 
  box-shadow: 0px 0px 4.6px 2.4px rgba(107, 107, 107, 0.75);
  cursor: -webkit-grab;
}

nav ul li ul { 
  display: none;
  position: absolute;
  top: 60px;
  left: 138px; 
}

nav ul li ul li {
  display: block;
  padding: 18px 13px;
  background-color: #fff;
}

nav ul li ul li:first-child { width: 65px; }

nav ul li ul li > a { color: #a8ad00; }

nav ul li:hover ul { 
  display: block;
}

header .wrapper > a {
 box-sizing: border-box;
 padding: 16px 50px 12px 20px;
 border-radius: 13px;
 margin-top: 31px;
 float: right;
 background: #fff url(../images/Heart.png) no-repeat 153px 14px;
 color: #750e2b ;
 font: 700 18px arial;
 text-decoration: none;
 text-transform: uppercase;
}

/* 4.3. Main
   ========================================================================== */
.top-content { 
  background: url(../images/Hero_Images.jpg) no-repeat;
  background-size: 100% 100%;
}

.top-content .wrapper { 
  min-height: 717px;
  position: relative; 
}

.top-content .wrapper div { 
  width: 754px;
  position: absolute;
  left: 51px;
  bottom: 72px; 
}

h2 {
  color: #fff;
  font-size: 50px;
  font-style: italic;
  font-weight: bold;
  line-height: 60px;
}

p {
  margin: 12px 0 0;
  color: #fff;
  font-size: 26px;
}

.top-content .wrapper div > a {
 box-sizing: border-box;
 padding: 16px 50px 12px 20px;
 border-radius: 13px;
 margin-top: 31px;
 display: inline-block;
 background-color: #fff;
 color: #750e2b ;
 font: 700 18px arial;
 text-decoration: none;
 text-transform: uppercase;
}

.cta-scroll {
  position: absolute;
  left: 588px;
  bottom: 0;
}

h3 {
  width: 556px;
  margin: 43px auto 48px;
  font-size: 32px;
  line-height: 30px;
  text-align: center;
}

.bottom-content { margin: 0 0 0 50px; }

.bottom-content div {
  width: 361px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  text-align: center;
}

.bottom-content div span {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 22px;
}

.giving-back { 
  margin: 0 28px 40px 0;
  background-color: #a8ad00; 
  font-size: 22px;
}

.giving-back a { 
  padding: 29.2% 0; 
  display: block;
}

.title span {
  padding: 6px 10px 8px 9px;
  background-color: #e2a138;
}

.dental-services span {
  padding: 13px 85px;
  background-color: #a8ad00;
}

.bursary-program span {
  padding: 13px 85px;
  background-color: #c05131;
}

.contactUs span {
  padding: 17px 109px;
  background-color: #115740;
}

.feelgood-statement {
  background-color: #a8ad00; 
  font-size: 24px;
  text-align: center;
}

.feelgood-statement a {
  padding: 37px 0;
  display: block;
}

.bottom-content .quote {
  min-height: 240px;
  background-color: #115740;
}

.quote img { margin: 54px 0 0; }

.bottom-content .quote span { 
  padding: 0px 25px;
  bottom: 40px;
  font-size: 16px;
  line-height: 28px
}

.story-here span {
  padding: 12px 48px;
  background-color: #e2a138;
}

.our-story span {
  padding: 13px 114px;
  background-color: #a8ad00;
}

.title,
.contactUs,
.bursary-program,
.quote,
.story-here { margin: 0 28px 40px 0; }

/* 4.4. Footer
   ========================================================================== */
footer { margin: 5% 0 0; }

footer .wrapper > a { 
  margin: 0 11px 0 0;
  display: inline-block; 
}

footer ul { display: inline-block; }

footer ul li {
  padding: 0 15px 0 11px;
  border-right: 1px solid #000;
}

footer ul li:last-child { border-right: none; }

footer ul li a { color: #000; }

footer ul li a:hover { text-decoration: underline; }

/* ==========================================================================
   5. Media Queries
   ========================================================================== */



/* ==========================================================================
   6. Print styles
   ========================================================================== */


